enter detail

<%= form_for @student do |f| -%>
	Firstname: <%= f.text_field :firstname %><br />
	Lastname: <%= f.text_field :lastname %><br />
	<%= f.submit %>
<% end -%>
<hr>
display
<% if !@students.blank? %>
	<% for item in @students %>
		<%= item.firstname %> <%= item.lastname %> <br />
	<% end %>
	<% else %>

<% end %>
